/* aca puse los colores o estilos globales */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: "Be Vietnam Pro", sans-serif;
 font-family: "Inconsolata", monospace;
 font-family: "Lato", sans-serif;
}
.head_menu {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding:0 2rem; 
}
.button_started {
 background-color: #f3603b;
 color: #ffffff;
 border-radius: 20px;
 border: none;
 padding: 0.8rem;
 cursor: pointer;
}
.button_started:hover {
 background-color: #ff8263;
}

.text-manage,
h2,
.article1,
h3,
.text_sect,
h1 {
 color: #232851;
 font-weight: bolder;
}
.text-manage p,
.article1 p,
.text_sect .text2 {
 color: #494949;
 /* font-size: small; */
}
/* ----------CARDS --------------- */
.cards_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
   }
.card_text {
 background-color: #e4e4e487;
 padding: 2rem 0.5rem;
}
.card_arcticle {
 position: relative;
 padding-top: 3.5rem;
}

.number_manage {
 background-color: #f3603b;
 color: #ffffff;
 border-radius: 30px;
 border: none;
 height: 2rem;
 width: 10%;
}

/* ----------------------------prefooter ----------------------------------- */
.preFooter {
 background-color: #f3613c;
 color: #ffffff;
 display: flex;
 /* flex-direction: column; */
 box-sizing: content-box;
 justify-content: space-around;
 align-items: center;
 height: 8rem;
}
#button_prefooter {
 background-color: #ffffff;
 color: #f3603b;
 cursor: pointer;
}
#button_prefooter:hover{
    background-color: #dcc6c1;
}
#preFooter_text{
color: #ffffff;
}

/* ----------------------styles Footer global------------ */
.footer {
 background-color: #1e1e26;
 color: #ffffff;
}
.footer_input {
 border-radius: 30px;
 padding: 0.8rem;
 width: auto;
 border: none;
 margin: auto;
}
#suscribe:invalid{
    border: 2px solid red;
}
.footer-menu {
 /* padding: 2rem 0; */
 display: flex;
 justify-content: space-around;
}
.footer-menu ul li {
 cursor: pointer;
}
.footer-menu ul li:hover {
 color: #f3613c;
}

.footer_sMedia {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.footer_sMedia_icons a {
 text-align: center;
 margin: 1rem;
}

.footer_sMedia_icons a img:hover {
 background-color: #f76845;
 cursor: pointer;
}

.footer_logo {
 display: flex;
 justify-content: center;
 margin: 2rem;
}

/* lo genere en 425 por que se veia mal. funcion para 375 tambien :D
*/
@media (max-width: 425px) {
 body {
  display: block;
 }
 .img_sect {
  box-sizing: content-box;
 }

 /* ------------------header and menu navbar 425px----------------------- */
 .head_menu {
  flex-direction: row;
  margin: 2rem 1rem;
 }

 .nav_toggle {
  position: absolute;
  cursor: pointer;
 }
 .nav_toggle svg {
  width: 1rem;
 }
 .nav_toggle svg {
  width: 1.5rem;
 }

 .nav_toggle .close {
  display: none;
 }

 .nav_toggle .close,
 .nav_toggle .menu {
  margin-top: 0.3rem;
 }

 .nav_checkbox {
  display: none;
 }
 .nav_menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
 }
 .nav_menu li {
  display: none;
 }

 .nav_menu a {
  text-decoration: none;

  font-size: 1rem;
 }
 /* #nav_checkbox:checked ~ ul.nav_menu li {
  display: block;
 }

 #nav_checkbox:checked ~ label.nav_toggle .close {
  display: block;
 } */

 #nav_checkbox:checked ~ label.nav_toggle .menu {
  display: none;
 }

 /* -----------------------section presentation 425px---------------------- */
 .sect_pres {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
 }
 .text2 {
  margin: 1rem;
 }

 .text_sect {
  text-align: center;
  box-sizing: border-box;
  text-align: center;
 }

 /* -----------------------------section manage 425px---------------------------- */
 .sect_manage {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
 }
 .text-manage {
  margin: 2rem 0;
  text-align: center;
 }
 .num-manage {
  display: flex;
  flex-direction: inherit;
  width: auto;
 }

 .number_manage {
  position: absolute;
  width: 15%;
 }
 .title_article {
  background-color: #ffbeae;
  color: #232851;
  font-weight: bolder;

  height: 2rem;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
 }

 .article1 p {
  margin: 0.5rem;
 }
 .article1 p {
  color: #494949;
 }
 /*----------------- ------------cards section 425px --------------------------- */

 .card_title {
  margin: 2rem;
 }

 .cards_total {
  display: flex;
  flex-direction: row;
 }

 .cards_img {
  width: 20%;
  position: absolute;
  top: 10px;
  right: 50px;
  left: 120px;
 }
 .no_show {
  display: none;
 }
 .container_button_card {
    margin-top: 1rem;
   }
/* ---------------------------PREFOOTER ----425px--------------------------------------- */
 .preFooter {
  display: flex;
  flex-direction: column;
 }

 #button_go {
     width:40px;
} 
/* #suscribe:invalid{
    display: none;
} */
 .footer {
  display: flex;
  flex-direction: column;

  padding: 2rem;
 }
 .footer form {
  display: flex;
  flex-direction: row;
 }
 .footer-menu {
  padding: 2rem 0;
 }

 .footer_text_copy {
  color: #666666;
  text-align: center;
  font-size: small;
  margin-top: 3rem;
 }
}
/* ////////////////////////////------Lo estilice para 1024px---/////////////////////////////// */
@media (min-width: 426px) {
 body {
  width: auto;
 }
 .head_menu {
  margin: 3rem;
 }

 .nav_toggle {
  display: none;
 }
 .navbar .nav_checkbox {
  display: none;
 }
 .nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
 }
 .nav_menu li {
display: flex;
  cursor: pointer;
 }
 .nav_menu li a {
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: 700;
 }
 /* ----------------------------------section presentation -1024px------------------------ */
 .sect_pres{
     display: flex;
 }
.text_sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
}
.text1, .text2{
    margin-bottom: 1rem;
} 
.sect_pres .intro_i {
  width: 50%;
 }

 /*------------------------ manage conainer 1024------------------------------- */
 .sect_manage {
  display: flex;
  margin: 3rem;
  width: 90%;
 }
 .text-manage_title {
  margin-bottom: 2rem;
 }
 .text-manage_p {
  width: 80%;
 }
 /* 
.num-manage{
    display: flex;
   flex-direction: column;
    
} */

 .number_manage {
  position: absolute;
  width: 6%;
 }
 .title_article {
  padding-left: 6rem;
  padding-bottom: 0.8rem;
 }
 .title_article_p {
  padding-left: 6rem;
  padding-bottom: 0.8rem;
 }

 /* --------------------------- Cards section-1024--------------------- */

 .cards_total {
  display: flex;
  flex-direction: row;
  /* margin: 3rem; */
 }
 .cards_img {
  width: auto;
  height: 65px;
  position: absolute;
 }
 .card_arcticle {
  margin: 0.5rem;
 }
 .cards_img {
  position: absolute;
  top: 10px;
  right: 50%;
  left: 50%;
 }
/* ------------------------------------footer 1024-------------------------------- */
 .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 2rem 0;
 }
 /* #suscribe:invalid:required{
    border: none
} */
.button_error p{
color: red;
text-align: center;
}
 #footer__menu {
  display: flex;
  justify-content: space-between;
  width: 20%;
 }
 .footer_form{
     display: flex;
     flex-direction:row;
 }

 .footer form {
  width: 30%;
 }
 #container__copy{
     display: flex;
     align-items: flex-start;
justify-content:flex-start ;
 }
#footer_text_copy{
    display: flex;
    justify-content:flex-start ;
}
}
